<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
  <title>Web Captioner - Open event captioning in your browser</title>
  
  <link rel="canonical" href="https://webcaptioner.com/captioner" />

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f0e500">
  <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/fckappdcgnijafmmjkcmicdidflhelfe">
  <meta name="theme-color" content="#f0e500">

  <meta property="og:url" content="https://webcaptioner.com/captioner" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:title" content="Web Captioner" />
  <meta property="og:description" content="Open event captioning in your browser. Just bring a microphone." />
  <meta property="og:image" content="https://webcaptioner.com/static/img/og-logo.png" />
  <meta property="og:image:secure_url" content="https://webcaptioner.com/static/img/og-logo.png" />
  <meta property="og:image:type" content="https://webcaptioner.com/static/img/og-logo.png" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="1200" />
  <meta property="fb:app_id" content="1339681726086659" />

  <meta name="description" content="Open event captioning in your browser. Just bring a microphone.">

  <link href="/build/css/build.css?20171229" rel="stylesheet" />

  <link href="https://fonts.googleapis.com/css?family=<% 
    for(var i = 0; i < captionTypefaceChoices.length; i++) { %><%= captionTypefaceChoices[i].googleFontName.replace(/ /g, '+') + '|' %><%
  } %>" rel="stylesheet">


  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('set', 'anonymizeIp', true);
    ga('create', 'REMOVED', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>

<body class="d-flex" <%- viewOnlyMode ? 'data-view-only-mode="wlbc"' : '' %>>
<div class="modal" id="onboardingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title" id="exampleModalLabel">Web Captioner</h2>
        <p>Web Captioner lets you display open event captioning in your browser. Just bring a microphone.</p>
        <div id="upgrade-alert" class="alert alert-danger collapse mb-0" role="alert">
          <p><strong>Sorry — Web Captioner doesn't work in this browser. It currently only works in the Google Chrome for PC, Mac, or Android.</strong> Google Chrome has a speech-to-text feature that other browsers don't support at the moment.</p>
          <p class="text-right mb-2">
            <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank" class="btn btn-danger">Download Google Chrome</a>
          </p>
          <p class="text-right mb-2 d-sm-none">
            <a href="/blog" target="_blank" class="btn btn-info btn-block">View the Web Captioner Blog</a>
          </p>
          <p class="text-right mb-2 d-none d-sm-block">
            <a href="/blog" target="_blank" class="btn btn-info">Web Captioner Blog</a>
          </p>
        </div>
<!--
        <label class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Don't show this message next time</span>
        </label>
-->
      </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-primary">Learn More</a>
        <button type="button" class="btn btn-success" data-dismiss="modal">Get Started</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="microphonePermissionModal" tabindex="-1" role="dialog" aria-labelledby="microphonePermissionModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="margin-top:100px" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title" id="microphonePermissionModalLabel"><i class="fa fa-microphone" aria-hidden="true"></i> Microphone Permission</h2>
        <p>Web Captioner needs permission to use your microphone or another audio input. It will only listen while this page is open and you are captioning.</p>
        <p>You will see a red circle in the tab bar whenever Web Captioner is listening to your microphone or other audio input:</p>
        <img src="/static/img/tab-microphone-example.png" class="w-100 img-thumbnail bg-info" />
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="noMicrophoneModal" tabindex="-1" role="dialog" aria-labelledby="noMicrophoneModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div>
          <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
        </div>
        <h2 class="modal-title" id="noMicrophoneModalLabel">No Microphone or Input Device Found</h2>
        <p>Connect a microphone or other input device to start using Web Captioner.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="microphonePermissionBlockedModal" tabindex="-1" role="dialog" aria-labelledby="microphonePermissionBlockedModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div>
          <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
        </div>
        <h2 class="modal-title" id="microphonePermissionBlockedModalLabel">Web Captioner doesn't have permission to use your microphone</h2>
        <p>Allow Web Captioner to use the microphone in order to start captioning. If you don't see an Allow button near the top of the page right now, you might need to change an option in Chrome settings.</p>
        <p>Copy <strong>chrome://settings/content/microphone</strong> into the location bar, hit enter, and remove webcaptioner.com if it got added to the block list. Then <a href="javascript:location.reload()">reload this page</a> and try again.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="clearTranscriptModal" tabindex="-1" role="dialog" aria-labelledby="clearTranscriptModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title" id="clearTranscriptModalLabel">Clear text?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
        <button id="clearTranscriptConfirmButton" type="button" class="btn btn-danger" data-dismiss="modal">Clear Text</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="vmixStartModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title h4 text-center" hidden id="vmixStartModalConnected">
          <i class="fa fa-check-circle mr-1" aria-hidden="true"></i> Connected to vMix
        </h2>
        <div hidden id="vmixStartModalNotConnected">
          <h2 class="modal-title h4 text-center mb-3">Not connected to vMix</h2>  
          <div class="text-center">
            <button class="btn btn-danger" data-dismiss="modal" id="vmixStartModalSetUpButton">Set up vMix</button>
            <button class="btn btn-link" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="vmixStopModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <h2 class="modal-title h4 text-center">
          <i class="fa fa-check-circle mr-1" aria-hidden="true"></i> Turned Off
        </h2>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="vmixModal" tabindex="-1" role="dialog" aria-labelledby="vmixModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="vmixModalLabel">vMix Configuration</h2>
        <span id="vmixStepHasErrorStateIndicator" class="bg-danger p-3 h5 small text-white"><i class="fa fa-exclamation-triangle mr-2"></i>Configuration incomplete</span>
      </div>
      <div class="modal-body">
        <p><a href="https://vmix.com" target="_blank">vMix</a> is a popular software video mixer and switcher. You can send text directly to vMix and display it in a title input. You can then use vMix's font and color controls to style captioned text. <a href="/help/integrations/vmix/">Visit the Help Center</a> for more information.</p>
                <!--
                <button id="sendToVmixSettingToggle" type="button" class="btn btn-secondary btn-block" disabled autocomplete="off">
                  <i class="fa fa-times mr-2" aira-hidden="true"></i>Send to vMix is <span id="send-to-vmix-status-text">off</span>
                </button>
              -->
        <hr/>
        <div class="vmixStep" data-vmix-step="1" data-error-state="false">
          <h3>
            <span class="badge badge-danger pt-2 mr-2" data-toggle="tooltip" data-placement="top" title="Not complete"><i class="fa fa-exclamation-triangle"></i></span>
            <span class="badge badge-success pt-2 mr-2" hidden><i class="fa fa-check"></i> Done</span>
            <a href="#vmixStep1" data-toggle="collapse" aria-expanded="false" aria-controls="vmixStep1">Step 1: Install the Chrome Extension</a>
          </h3>
          <div id="vmixStep1" class="collapse show ml-4">
            <p class="mb-2">
              The Web Captioner Connector extension enables your browser to send commands to vMix running on your computer or somewhere else on the network.
            </p>
            <button id="addExtensionToChromeButton" type="button" class="btn btn-info"><i class="fa fa-chrome mr-2"></i>Add to Chrome</button>
            <button id="extensionIsAddedToChromeButton" type="button" class="btn btn-success" hidden disabled><i class="fa fa-check mr-2"></i>Added to Chrome</button>
          </div>
        </div>
        <hr/>
        <div class="vmixStep" data-vmix-step="2" data-error-state="false">
          <h3>
              <span class="badge badge-danger pt-2 mr-2" data-toggle="tooltip" data-placement="top" title="Not complete"><i class="fa fa-exclamation-triangle"></i></span>
              <span class="badge badge-success pt-2 mr-2" hidden><i class="fa fa-check"></i> Done</span>
              <a href="#vmixStep2" data-toggle="collapse" aria-expanded="false" aria-controls="vmixStep2">Step 2: Enable vMix web controller</a>
          </h3>
          <div id="vmixStep2" class="collapse show">
            <ol class="ml-0 mb-2">
                <li>In vMix, go to <strong>Settings > Web Controller</strong>.</li>
                <li>Check the box to enable the <a href="http://www.vmix.com/knowledgebase/article.aspx/69/how-to-control-vmix-from-a-web-browser-using-vmix-web-controller" target="_blank">web controller</a>. Specify a port number or accept the default.</li>
                <li>Copy and paste the website address that appears in vMix here:</li>
            </ol>
            <div class="form-group ml-4 mb-2">
                <input type="url" id="vmixWebControllerAddress" class="form-control" placeholder="vMix Web Controller Address" required="true" />
                <p class="mb-2"><small class="form-text text-muted">Example: http://192.168.1.1:8080</small></p>
            </div>
            <p class="ml-4">
              <button class="btn btn-info" id="testConnectionButton"><i class="fa fa-check mr-2" hidden aria-hidden="true"></i>Test Connection</button>
              <i id="testConnectionSpinner" hidden class="fa fa-circle-o-notch fa-spin fa-fw"></i>
              <strong id="connectionSuccessMessage" hidden class="text-success ml-2">Success!</strong>
              <p id="couldNotConnectMessage" hidden class="text-danger ml-4"><strong>Could not connect. Check to make sure that vMix is running, web controller in vMix is enabled, and that the web controller address above is correct.</strong></p>
            </p>
          </div>
        </div>
        <hr/>
        <div class="vmixStep" data-vmix-step="3" data-error-state="false">
          <h3>
            <span class="badge badge-danger pt-2 mr-2" data-toggle="tooltip" data-placement="top" title="Not complete"><i class="fa fa-exclamation-triangle"></i></span>
            <span class="badge badge-success pt-2 mr-2" hidden><i class="fa fa-check"></i> Done</span>
            <a href="#vmixStep3" data-toggle="collapse" aria-expanded="false" aria-controls="vmixStep3">Step 3: Import the Web Captioner title template into vMix</a>
          </h3>
          <div id="vmixStep3" class="collapse show">
            <ol class="ml-0 mb-2">
              <li>Download the Web Captioner vMix title template:<br/> <a href="/web-captioner-title.xaml" class="btn btn-secondary mt-1 mb-2">Web Captioner vMix Title Template <i class="fa fa-external-link ml-1" aria-hidden="true"></i></a></li>
              <li>In vMix, go to <strong>Add Input > Title/XAML</strong>. In the upper right of the Input Select window, click <strong>Browse...</strong> and open the Web Captioner title template.</li>
              <li>The title will appear in the <strong>Recent</strong> tab. Double-click it.</li>
              <li>In the Title Editor that appears, optionally customize font and text size. Close it when you are finished.</li>
              <li>Test your imported title:</li>
            </ol>
            <p class="ml-4">
                <button class="btn btn-info" id="testVmixTitleButton"><i class="fa fa-check mr-2" hidden aria-hidden="true"></i>Send Test Message to vMix</button>
                <i id="testVmixTitleSpinner" hidden class="fa fa-circle-o-notch fa-spin fa-fw"></i>
                <p id="testVmixTitleSuccessMessage" style="font-weight:bold" hidden class="text-success ml-4">Success!</p>
                <p id="testVmixTitleErrorMessage" style="font-weight:bold" hidden class="text-danger ml-4">Error</p>
              </p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="/help/integrations/vmix/" class="btn btn-link" target="_blank">Help</a>
        <button type="button" class="btn btn-link ml-auto" id="cancelVmixButton">Cancel</button>
        <button type="button" class="btn btn-info" id="saveVmixButton">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="languageModal" tabindex="-1" role="dialog" aria-labelledby="languageModalLabel" aria-hidden="true"  data-default-from-language-code="<%= defaultFromLanguage.code %>" data-default-to-language-code="<%= defaultToLanguage.code %>">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="languageModalLabel"><i class="fa fa-language" aria-hidden="true"></i> Language</h2>
      </div>
      <div class="modal-body">
        <p>Recognize speech <% /* and display captions */ %>in another language.</p>
        <div class="row">
          <div class="col-lg-6 offset-lg-3" id="from-language-group">
            <% /* <h3 class="text-center my-2">From Language</h3> */ %>
            <p class="text-center mb-2 group-selected-language-name"><!-- --></p>
            <div style="max-height:250px;overflow-y:auto" class="language-group-overflow">
              <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active language-selection" data-language-code="<%= defaultFromLanguage.code %>" data-language-name="<%= defaultFromLanguage.nameEnglish %>">
                  <span class="w-100"><i class="fa fa-check mr-1" aria-hidden="true"></i> System Default</span>
                  <p class="small mb-0"><%= defaultFromLanguage.nameEnglish %></p>
                </a>
                <% for(var i = 0; i < fromLanguages.length; i++) { %>
                  <a href="javascript:void(0)" class="list-group-item list-group-item-action language-selection py-2" data-language-code="<%= fromLanguages[i].code %>" data-language-name="<%= fromLanguages[i].nameEnglish %>"><i class="fa fa-check mr-1" aria-hidden="true"></i> <%= fromLanguages[i].nameEnglish %><br/> <span class="small"><%= fromLanguages[i].name %></span></a>
                <% } %>
              </div>
            </div>
            <% /* <p class="text-center mt-3">Select the language that is being spoken.</p> */ %>
          </div>
          <% /*
          <div class="col-sm-6" id="to-language-group">
            <h3 class="text-center my-2">To Language</h3>
            <p class="text-center mb-2 group-selected-language-name"><!-- --></p>
            <div style="max-height:250px;overflow-y:auto" class="language-group-overflow">
              <div class="list-group">
                <a href="javascript:void(0)" class="list-group-item list-group-item-action active language-selection" data-language-code="%= defaultToLanguage.code %" data-language-name="%= defaultToLanguage.nameEnglish %">
                  <span class="w-100"><i class="fa fa-check mr-1" aria-hidden="true"></i> System Default</span>
                  <p class="small mb-0">%= defaultToLanguage.nameEnglish %</p>
                </a>
                % for(var i = 0; i < toLanguages.length; i++) { % 
                  <a href="javascript:void(0)" class="list-group-item list-group-item-action language-selection py-2" data-language-code="%= toLanguages[i].code %" data-language-name="%= toLanguages[i].nameEnglish %" data-toggle="tooltip" data-placement="left" data-animation="false" title="%= toLanguages[i].name %"><i class="fa fa-check mr-1" aria-hidden="true"></i> %= toLanguages[i].nameEnglish %</a>
                % } %
              </div>
            </div>
            <p class="text-center mt-3">Captions will appear in this language.</p>
          </div>
          */ %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link ml-auto" id="cancelLanguageButton">Cancel</button>
        <button type="button" class="btn btn-info" id="saveLanguageButton">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="shareLiveModal" tabindex="-1" role="dialog" aria-labelledby="shareLiveModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="shareLiveModalLabel"><i class="fa fa-bullhorn" aria-hidden="true"></i> Share Live</h2>
      </div>
      <div class="modal-body">
        <p>Share captions live with anyone that visits your URL.</p>
        <h3 class="text-center mb-3">Your URL</h3>
        <p class="text-center h4">webcaptioner.com/wlbc</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Done</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="wordReplacementModal" tabindex="-1" role="dialog" aria-labelledby="wordReplacementModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="wordReplacementModalLabel"><i class="fa fa-refresh" aria-hidden="true"></i> Word Replacements</h2>
      </div>
      <div class="modal-body">
        <p>Replace or hide specific words or phrases during captioning.</p>
        <div class="container">
          <div class="row mx-1 h5">
            <div class="col-5">
              <div class="mb-1">Word or phrase to replace</div>
              <span class="small">Separate multiple words or phrases with commas. Not case sensitive.</span>
            </div>
            <div class="col-5">
              <div class="mb-1">Replacement</div>
              <span class="small">Leave this blank and the word or phrase will not appear at all.</span>
            </div>
          </div>
        </div>
        <ul class="list-group list-group-flush mb-5 list-group-replacements">
          <li class="list-group-item list-group-replacement-prototype" hidden>
            <div class="container">
              <div class="row">
                <div class="col-5">
                  <input type="text" class="text-to-find form-control" />
                </div>
                <div class="col-5">
                  <input type="text" class="text-to-replace-with form-control" />
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-danger removeReplacementButton" data-toggle="tooltip" data-animation="false" data-placement="top" title="Remove"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                </div>
                <div class="col-1">
                  <button type="button" class="btn btn-success addReplacementButton" data-toggle="tooltip" data-animation="false" data-placement="top" title="Add another"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <h3 class="mb-1">Profanity</h3>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" name="word-replacements-censor-profanity" type="checkbox" checked="checked" value="yes" id="word-replacements-censor-profanity">
          <label class="custom-control-label" for="word-replacements-censor-profanity">Censor profane language (US English only).</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link ml-auto" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-info" id="saveWordReplacementsButton">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="appearanceModal" tabindex="-1" role="dialog" aria-labelledby="appearanceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="appearanceModalLabel">Appearance</h2>
      </div>
      <div class="modal-body">
        <div class="card preview-card">
          <div class="card-header card-header-caption-wrap-preview">
            Text Preview
          </div>
          <div class="card-header card-header-screen-preview" hidden>
            Screen Preview
          </div>
          <div class="caption-wrap-chroma-key-background">
            <div class="card-body caption-wrap caption-wrap-preview" contenteditable="<%= viewOnlyMode ? 'false' : 'true' %>">
              <div class="captions" style="margin-bottom:0">
                <span class="final"><%= randomJuliaChildQuote %></span> <span class="interim"></span>
              </div>
            </div>
          </div>
          <div class="card-body screen-preview" hidden>
            <div class="screen card border-primary mx-auto">
              <div class="card-body p-0 h-100 d-flex">
                <div class="row caption-wrap-row">
                  <div class="col-12 caption-wrap-col" style="overflow-y:auto">
                    <div class="card-body caption-wrap screen-caption-wrap-preview">
                      <div class="captions mb-0" style="overflow:hidden">
                        <span class="final">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce mi metus, hendrerit nec massa at, sagittis rutrum turpis. 
                            Nullam ullamcorper elementum mauris non laoreet. Sed sit amet arcu quis diam fringilla tempor quis in ipsum. Nam nec 
                            accumsan ex. Fusce at feugiat enim. Donec varius urna vel mi posuere porttitor. Nulla ac magna neque. Proin eu lacus 
                            et urna mollis suscipit. Nullam mollis erat mauris, non placerat sapien hendrerit ac. Interdum et malesuada fames ac 
                            ante ipsum primis in faucibus. Ut placerat bibendum turpis.
                            Pellentesque nec ante pulvinar, congue nisl vitae, interdum est. Ut nec odio quis leo efficitur pharetra sed sed elit. 
                            Fusce non arcu eget dolor posuere lobortis. In id accumsan velit, eu gravida tellus. Ut malesuada elit tristique magna 
                            auctor sagittis. Etiam odio justo, pretium eget auctor at, varius sit amet nulla. Integer metus nibh, semper sit amet 
                            augue sed, finibus scelerisque neque.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 mt-3">
                <p class="small text-muted mb-0"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Text size and line height are only approximate in this preview. Save and start captioning to see how your text looks with this layout.</p>
              </div>
            </div>
          </div>
        </div>
        
        <ul class="nav nav-tabs nav-justified mt-4" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#appearance-text" role="tab">Text</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#appearance-shadow" role="tab">Shadow</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#appearance-layout" role="tab">Background & Layout</a>
          </li>
        </ul>
        <div class="tab-content mt-4">
          <div class="tab-pane fade show active" id="appearance-text" role="tabpanel">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="typeface" class="col-sm-4 col-form-label">Typeface</label>
                  <div class="col-sm-8">
                    <div class="dropdown typeface-select">
                      <button class="btn btn-secondary btn-block dropdown-toggle" type="button" id="typefaceDropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span style="font-family:'<%= captionTypefaceChoices[0].fontFamily %>'" data-typeface-choice="<%= JSON.stringify(captionTypefaceChoices[0]) %>"><%= captionTypefaceChoices[0].displayName %></span>
                      </button>
                      <div class="dropdown-menu" aria-labelledby="typefaceDropdownButton">
                        <% for(var i = 0; i < captionTypefaceChoices.length; i++) { %>
                          <a class="dropdown-item" href="#" data-font-family="<%= captionTypefaceChoices[i].fontFamily %>"><span class="type-example" data-typeface-choice="<%= JSON.stringify(captionTypefaceChoices[i]) %>" style="font-family:'<%= 
                            captionTypefaceChoices[i].fontFamily
                          %>';<%=
                            (captionTypefaceChoices[i].cssFontWeight ? ('font-weight:'+ captionTypefaceChoices[i]['cssFontWeight']) : '')
                          %>"><%= captionTypefaceChoices[i].displayName %></span></a>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="text-typeface" />
                <input type="hidden" name="text-typeface-weight" />
                <div class="form-group row">
                  <label for="text-color" class="col-sm-4 col-form-label">Text Color</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="text-color" id="text-color" type="color" value="#ffffff">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text-color-interim-same" class="col-sm-4 col-form-label">Interim Text Color</label>
                  <div class="col-sm-8">
                    <p class="small mt-sm-2 mb-2">During captioning, words that have just been recognized may change slightly while Web Captioner determines the context of the current phrase. Those words will be this color.</p>
                    <div class="custom-control custom-radio mt-1">
                      <input class="custom-control-input" type="radio" name="text-color-interim-choice" id="text-color-interim-same" value="same-as-text-color" checked>
                      <label class="custom-control-label" for="text-color-interim-same">Same as text color</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="text-color-interim-choice" id="text-color-interim-custom" value="custom">
                      <label class="custom-control-label" for="text-color-interim-custom">
                        Custom <a href="javascript:void(0)" id="previewInterimText" class="ml-1 small" style="white-space:nowrap" hidden>Preview<i class="fa fa-caret-right ml-1" aria-hidden="true"></i></a>
                      </label>
                    </div>
                    <input class="form-control" hidden name="text-color-interim" type="color" value="#fffeaf">
                    <span class="small"></span>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="text-size" class="col-sm-4 col-form-label">Text Size</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="text-size" type="number" id="text-size" value="4" min="0.1" step="0.1">
                      <span class="input-group-append">
                          <span class="input-group-text">em</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="line-height" class="col-sm-4 col-form-label">Line Height</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="line-height" id="line-height" type="number" value="5" min="0.1" step="0.1" max="10">
                      <span class="input-group-append">
                          <span class="input-group-text">em</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="letter-spacing" class="col-sm-4 col-form-label">Letter Spacing</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="letter-spacing" id="letter-spacing" type="number" value="0" min="-10" step="0.025" max="20">
                      <span class="input-group-append">
                          <span class="input-group-text">em</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="capitalization-uppercase" class="col-sm-4 col-form-label">Capitalization</label>
                  <div class="col-sm-8">
                    <div class="custom-control custom-radio mt-1">
                      <input class="custom-control-input" type="radio" name="capitalization" id="capitalization-uppercase" value="uppercase" checked>
                      <label class="custom-control-label" for="capitalization-uppercase">UPPERCASE</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="capitalization" id="capitalization-first-letter-only" value="capitalize">
                      <label class="custom-control-label" for="capitalization-first-letter-only">First Letter Of Each Word</label>
                    </div>
                    <div class="custom-control custom-radio">
                      <input class="custom-control-input" type="radio" name="capitalization" id="capitalization-initial" value="initial">
                      <label class="custom-control-label" for="capitalization-initial">
                        Proper nouns and the start of sentences <a id="capitalization-popover" tabindex="0" href="javascript:void(0)" aria-label="Info" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" title="Proper nouns and the start of sentences" data-content="Separate sentences are detected only when a puncuation mark like &#34;period&#34; or &#34;question mark&#34; is literally said."><span class="fa fa-question-circle" aria-hidden="true"></span></a>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="appearance-shadow" role="tabpanel">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="text-shadow-color" class="col-sm-4 col-form-label">Shadow Color</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="text-shadow-color" type="color" value="#000000">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text-shadow-opacity" class="col-sm-4 col-form-label">Opacity</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="text-shadow-opacity" type="number" value="100" min="0" max="100" step="5">
                      <span class="input-group-append">
                          <span class="input-group-text">%</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text-shadow-blur" class="col-sm-4 col-form-label">Blur</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="text-shadow-blur" type="number" value="0" min="0" step="1">
                      <span class="input-group-append">
                          <span class="input-group-text">px</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="text-shadow-x-position" class="col-sm-4 col-form-label">X Position</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="text-shadow-x-position" type="number" value="0.25" step="0.25">
                      <span class="input-group-append">
                          <span class="input-group-text">em</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text-shadow-y-position" class="col-sm-4 col-form-label">Y Position</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="text-shadow-y-position" type="number" value="0.25" step="0.25">
                      <span class="input-group-append">
                          <span class="input-group-text">em</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="appearance-layout" role="tabpanel">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="background-color" class="col-sm-4 col-form-label">Background Color</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="background-color" type="color" value="#000000">
                    <div class="custom-control custom-checkbox mt-2">
                      <input class="custom-control-input" id="text-background-transparent" name="text-background-transparent" type="checkbox" value="yes">
                      <label class="custom-control-label" for="text-background-transparent">Make transparent</label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="chroma-key-color" class="col-sm-4 col-form-label">Chroma Key Color</label>
                  <div class="col-sm-8">
                    <input class="form-control" name="chroma-key-color" id="chroma-key-color" type="color" value="#00ff00">
                    <div class="small pt-1 pt-lg-2 rgb-label">
                      <strong>R:</strong> <span class="chroma-key-red">0</span> &nbsp;<strong>G:</strong> <span class="chroma-key-green">0</span> &nbsp;<strong>B:</strong> <span class="chroma-key-blue">0</span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="padding" class="col-sm-4 col-form-label">Padding</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" name="padding" id="padding" type="number" value="1.25" min="0" step="0.25" max="10">
                      <span class="input-group-append">
                          <span class="input-group-text">em</span>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label for="horizontal-alignment-full" class="col-12 col-form-label">Horizontal Alignment</label>
                  <div class="col-12">
                    <div class="btn-group d-inline-block" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="horizontal-alignment" id="horizontal-alignment-full" value="full" autocomplete="off" checked> Full
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="horizontal-alignment" id="horizontal-alignment-left" value="left" autocomplete="off"> Left
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="horizontal-alignment" id="horizontal-alignment-middle" value="middle" autocomplete="off"> Middle
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="horizontal-alignment" id="horizontal-alignment-right" value="right" autocomplete="off"> Right
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="vertical-alignment-full" class="col-12 col-form-label">Vertical Alignment</label>
                  <div class="col-12">
                    <div class="btn-group d-inline-block" data-toggle="buttons">
                      <label class="btn btn-primary active">
                        <input type="radio" name="vertical-alignment" id="vertical-alignment-full" value="full" autocomplete="off" checked> Full
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="vertical-alignment" id="vertical-alignment-top" value="top" autocomplete="off"> Top
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="vertical-alignment" id="vertical-alignment-middle" value="middle" autocomplete="off"> Middle
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="vertical-alignment" id="vertical-alignment-bottom" value="bottom" autocomplete="off"> Bottom
                      </label>
                      <label class="btn btn-primary">
                        <input type="radio" name="vertical-alignment" id="vertical-alignment-lower-third" value="lower-third" autocomplete="off"> Lower Third
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link mr-auto" id="resetToDefaultAppearanceButton">Reset to Default</button>
        <button type="button" class="btn btn-link" data-dismiss="modal" onclick="ga('send', 'event', 'settings', 'cancelAppearance');">Cancel</button>
        <button type="button" class="btn btn-info" id="saveAppearanceButton">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="row w-100 caption-wrap-row">
  <div class="caption-wrap-col col-12">
    <div class="caption-wrap caption-wrap-real d-flex h-100">
      <div class="captions d-flex align-items-end">
        <div id="results">
          <span class="final" id="final_span" contenteditable="true"></span> <span class="interim" id="interim_span"></span>
          <div id="captioning-spinner" hidden class="lds-message" style="width:100%;height:100%"> <div></div><div></div><div></div> </div>
        </div>
      </div>
    </div>
  </div>
</div>

<nav id="main-navbar" class="navbar fixed-bottom navbar-expand navbar-inverse bg-dark">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="navbar-brand">
    <a href="/">
      <img src="/static/img/logo.svg" width="20" height="20" class="d-inline-block align-top mr-2" alt="Web Captioner" />
      <span class="d-none d-md-inline">Web Captioner</span>
    </a>
  </span><%# <!--
  <ul class="navbar-nav mr-auto d-none d-sm-block">
    <li class="nav-item">
      <a class="nav-link" href="/blog">Blog</a>
    </li>
  </ul>--> %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li id="audioLevelWrap" hidden>
        <div class="row mr-3" style="width:350px">
          <div class="col text-right">
            <span id="clippingMessage" hidden class="navbar-text text-white bg-danger px-3">
              <i class="fa fa-exclamation-triangle pr-1" aria-hidden="true"></i> Too loud
            </span>
            <span id="lowLevelMessage" hidden class="navbar-text text-white bg-danger px-2">
              <i class="fa fa-exclamation-triangle pr-1" aria-hidden="true"></i> Too quiet
            </span>
          </div>
          <div class="col">
            <div id="meterWrap" class="progress" style="margin-top:.7rem">
              <div id="meter" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </li>
      <li id="now_listening" class="navbar-text text-white px-3" hidden>
        Now listening...
      </li><%# <!--
      <li class="nav-item d-sm-none">
        <a class="nav-link" href="/blog">Blog</a>
      </li> --> %>
      <li class="nav-item">
        <div  <%= viewOnlyMode ? '' : 'hidden' %>>
            <span class="pr-2">
                <i class="fa fa-font text-primary fa-2x" style="font-size: 1.3rem;position: relative;top: 4px;" aria-hidden="true"></i>
            </span>
            <button class="btn btn-primary" id="viewOnlyShrink"><i class="fa fa-minus" aria-hidden="true" style="position:relative;top:2px"></i></button>
            <button class="btn btn-primary" id="viewOnlyZoom"><i class="fa fa-plus" aria-hidden="true" style="position:relative;top:2px"></i></button>
        </div>
        <div id="settingsDropdownContainer" class="btn-group dropup" <%= viewOnlyMode ? 'hidden' : '' %> aria-haspopup="true">
          <button type="button" class="btn btn-primary" id="startButton">Start<span class="d-none d-sm-inline"> Captioning</span></button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="ga('send', 'event', 'settings', 'expandDropdown')">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/" target="_blank" onclick="ga('send', 'event', 'settings', 'aboutButton')">About</a>
            <a class="dropdown-item" href="/help" target="_blank" onclick="ga('send', 'event', 'settings', 'helpCenterButton')">Help Center</a>
            <a class="dropdown-item" href="/blog" target="_blank" onclick="ga('send', 'event', 'settings', 'blogButton')">Blog</a>
            <a class="dropdown-item" href="/feedback" target="_blank" onclick="ga('send', 'event', 'settings', 'reportAProblemButton')">Report a Problem</a>
            <a class="dropdown-item" href="/donate" target="_blank" onclick="ga('send', 'event', 'settings', 'donateButton')">Donate</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" id="saveTranscriptToFileButton" onclick="ga('send', 'event', 'settings', 'saveToFile')"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i> Save to File</a>
            <a class="dropdown-item disabled" hidden href="javascript:void(0)" id="saveTranscriptToFileDisabledButton" data-toggle="tooltip" data-trigger="hover" data-placement="left" title="Nothing to save right now"><i class="fa fa-floppy-o mr-1" aria-hidden="true"></i> Save to File</a>
            <a class="dropdown-item" href="javascript:void(0)" id="clearTranscriptButton"><i class="fa fa-trash-o mr-1" aria-hidden="true"></i> Clear...</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">vMix</h6>
            <a class="dropdown-item" id="startStopVmixToggle" href="javascript:void(0)" data-toggle="modal" onclick="ga('send', 'event', 'settings', 'vmixToggle')">Send to vMix <span class="badge-vmix-status-on badge badge-primary text-muted text-uppercase ml-1" hidden style="position:relative;top:-1px">On</span> <span class="badge-vmix-status-off badge badge-dark text-uppercase ml-1" hidden style="position:relative;top:-1px">Off</span></a>
            <a class="dropdown-item" id="sendToVmixSettings" href="javascript:void(0)" data-toggle="modal" data-target="#vmixModal" onclick="ga('send', 'event', 'settings', 'editVmixStart')">Configure</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#languageModal" onclick="ga('send', 'event', 'settings', 'editLanguageStart')"><i class="fa fa-language mr-1" aria-hidden="true"></i> Language</a>
            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#wordReplacementModal" onclick="ga('send', 'event', 'settings', 'editWordReplacementsStart')"><i class="fa fa-refresh mr-1" aria-hidden="true"></i> Word Replacements</a>
            <a class="dropdown-item" href="javascript:void(0)" data-toggle="modal" data-target="#appearanceModal" onclick="ga('send', 'event', 'settings', 'editAppearanceStart')"><i class="fa fa-paint-brush mr-1" aria-hidden="true"></i> Appearance</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js"></script>
  <script src="/build/js/build.js?<%= process.env.COMMIT_ID %>"></script>

</body>

</html>